/* Inter */
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Regular.woff') format('woff'),
		url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	display: swap;
}


@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Medium.woff') format('woff'),
		url('../fonts/Inter/Inter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	display: swap;
}


@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-SemiBold.woff') format('woff'),
		url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	display: swap;
}


/* Hoves */
@font-face {
	font-family: 'Hoves';
	src: url('../fonts/Hoves/TTHoves-Regular.woff') format('woff'),
		url('../fonts/Hoves/TTHoves-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Hoves';
	src: url('../fonts/Hoves/TTHoves-Medium.woff') format('woff'),
		url('../fonts/Hoves/TTHoves-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Hoves';
	src: url('../fonts/Hoves/TTHoves-DemiBold.woff') format('woff'),
		url('../fonts/Hoves/TTHoves-DemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'NextArt';
	src: url('../fonts/NextArt/NextArt-Bold.woff') format('woff'),
		url('../fonts/NextArt/NextArt-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	display: swap;
}





