.basket {
  margin-bottom: 123px;

  .row{
    .col-lg-8{
        padding-right: 50px;
    }
  }
}
.basket__wrapper {
  h1 {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0;
  }
}

.basket__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
}

.basket__left {
  display: flex;
  align-items: center;
  gap: 27px;

  h3 {
    font-weight: 600;
    font-size: 20px;
  }
  p {
    font-weight: 600;
    font-size: 16px;
    color: #828282;
    margin-top: 21px;
  }

  a {
    margin-top: 20px;
  }
}

.basket__right {
  display: flex;
  align-items: center;
  gap: 37px;

  h4 {
    font-weight: 600;
    font-size: 16px;
  }

  .counter {
    display: flex;
    border: 1px solid #e0e0e0;
    gap: 32px;
    padding: 11px 15px;
    align-items: center;

    h3 {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.basket-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.basket-top-right {
  display: flex;
  gap: 126px;

  span {
    font-weight: 400;
    font-size: 14px;
  }
}

.basket-top-left {
  font-weight: 400;
  font-size: 14px;
}

.basket-request {
  background: #f5f5f5;
  padding: 28px 28px;

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  h2 {
    font-weight: 600;
    font-size: 22px;
    margin-top: 14px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #828282;
    margin-top: 90px;
  }

  a {
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 19px;
  }
}
