.categories__btn {
  ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px;
    
    li {
      font-weight: 500;
      font-size: 16px;
    }
  }
}
