.categories__btn {
  ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

    li {
      font-weight: 500;
      font-size: 16px;
      a {
        &.active {
          background-color: #000;
          padding: 5px 18px;
          color: #fff;
        }
      }
    }
  }
}


.categories-header__child {
  padding: 20px 0;
  background-color: #f5f5f5;
}
