.customer {
  background-color: #000;
}

.customer__wrapper {
  max-width: 968px;
  margin: 0 auto;

  h1 {
    color: #fff;
    font-weight: 600;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    padding: 120px 0;
    max-width: 415px;
    margin: 0 auto;
  }
}

.customer__inner {
  background-color: #fff;
  padding: 36px 80px 54px 80px;
  margin-top: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  h3 {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
  }

  p {
    a {
      color: #2f80ed;
    }
  }

  ul {
    padding-left: 25px;
  }
  li {
    list-style: disc;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    background-color: none
    ;
  }
}

.accordion-button:not(.collapsed){
    background-color: transparent !important;
}
