.products {
  .col-lg-3 {
    s {
      font-weight: 500;
      font-size: 18px;
      color: #828282;
      margin-top: 8px;
      display: block;
    }
    p {
      font-weight: 500;
      font-size: 20px;
      color: #cd0200;
      margin-top: 7px;
    }
  }
}
