.header {
    background-color: #000;
    display: flex;
    color: #fff;
    padding: 15px 0;

    &__wrapper {
        display: flex;
    }

    &__btn {
        display: flex;
        align-items: center;
        border: 1px solid white;
        padding: 6px 15px;
        gap: 20px;
        margin-left: 43px;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;

    }
}