.hero-categories{
  margin-bottom: 136px;
}

.categories__wrapper {
  h2 {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 39px 0;
  }
}

.categories__inner {
  h3 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
  }

  span {
    font-weight: 500;
    font-size: 18px;
    color: #828282;
    margin-top: 7px;
    margin-bottom: 50px;
  }
}
