.partners {
  background: #000;
  padding: 113px 121px;
}

.partners__wrapper {
  h2 {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
  }
}

.partners__inner {
  border: 1px solid #e0e0e0;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__btn {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  a {
    color: #fff;
    border: 1px solid #fff;
    padding: 19px 34px;
  }
}
