.products {
  position: relative;
  margin-bottom: 120px;

  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 120px;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-prev{
    left: 120px;
  }

  .swiper-button-next, .swiper-button-prev{
    color: #828282 !important;
  }
  .swiper-slide {
    h4 {
      font-weight: 600;
      font-size: 20px;
      margin-top: 18px;
    }

    span {
      font-weight: 500;
      font-size: 18px;
      color: #828282;
      margin-top: 9px;
    }
  }

  .popular-text {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 33px;

    h2 {
      font-weight: 600;
      font-size: 34px;
    }
  }
}
