.product-single-wrapper {
  h4 {
    font-weight: 600;
    font-size: 22px;
    margin-top: 77px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    margin-top: 22px;
  }
}
