.projects {
  padding-top: 100px;
}

.project__cards {
  position: relative;
  h3 {
    position: absolute;
    top: 20px;
    left: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
  }
}

.projects {
  &__btn {
    background-color: #000;
    padding: 19px 34px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
