.questions {
  position: relative;
  padding-top: 245px;
  overflow-x: hidden;
  display: block;
}

.white-background {
  background-color: white;
  .questions-btn {
    background-color: #000;
    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.black-background {
  background-color: #000;
}

.questions.white-background:hover .questions-text {
  opacity: 0.7;
}

.questions.black-background:hover .questions-text {
  color: white !important;
  opacity: 1;
}

.questions-btn {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.questions-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  background: #000;
  border-radius: 50%;
  transition: 0.3s;
}

.questions-btn svg {
  position: relative;
  z-index: 2;
}

.questions-btn svg path {
  transition: 0.3s;
}

.questions:hover .questions-btn::before {
  width: 101%;
  height: 101%;
}

.questions:hover .questions-btn svg path {
  fill: #fff;
}

.questions.white-background .questions-btn::before {
  background-color: #828282;
}

.questions-link {
  width: 100%;
  height: 188px;
  display: block;
}

.questions-inner {
  display: flex;
  position: absolute;
  bottom: 74px;
  animation: scroll linear infinite 40s;
  width: 4000px;
  transition: animation-play-state ease 0.3s;
  will-change: transform;
}

.questions-text {
  font-family: "NextArt";

  font-weight: 700;
  font-size: 118px;
  line-height: 188px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #828282;
  opacity: 0.1;
  margin-right: 77px;
  transition: 0.3s;
}

@keyframes scroll {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(-2500px - 5%));
  }
}
