.reviews {
  &-list {
    background-color: #000;
    padding: 124px 0;

    h3 {
      font-weight: 600;
      font-size: 55px;
      text-align: center;
      color: #fff;
      margin-bottom: 67px;
    }

    .review-list_btn {
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      color: #fff;
      border: 1px solid #fff;
      padding: 19px 34px;
    }
  }
  &__left {
    display: flex;
    gap: 17px;
    align-items: center;
    h4 {
      font-weight: 600;
      font-size: 16px;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      color: #828282;
    }
  }

  &__right {
    max-width: 596px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__card-author {
    display: flex;
    align-items: start;
    gap: 89px;
    max-width: 968px;
    margin: 0 auto;
    background-color: #fff;
    padding: 47px 38px 47px 80px;
  }
}
