.videoblog-list {
  background-color: #000;
  padding-bottom: 123px;
}

.end__btn {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 7px;
  padding-top: 40px;
  font-weight: 400;
  font-size: 14px;
}

.videoblog_txt {
  h1 {
    font-weight: 600;
    font-size: 55px;
    text-align: center;
    width: 704px;
    margin: 0 auto;
    color: #fff;
    padding-top: 124px;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    color: #bdbdbd;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

.videoblog-list_wrapper {
  background-color: #fff;
  max-width: 968px;
  margin: 25px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  p {
    width: 808px;
    height: 135px;
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
}
