@import "core/default";
@import "base/font";

@import "blocks/header";
@import "blocks/hero";
@import "blocks/projects";
@import "blocks/popular";
@import "blocks/advantages";
@import "blocks/discount";
@import "blocks/partners";



@import "adaptive/xl";
@import "adaptive/lg";
@import "adaptive/md";
@import "adaptive/sm";
@import "adaptive/xs";
