@import "core/default";
@import "base/font";

@import "blocks/header";
@import "blocks/hero";
@import "blocks/projects";
@import "blocks/popular";
@import "blocks/advantages";
@import "blocks/discount";
@import "blocks/partners";
@import "blocks/reviews";
@import "blocks/offer";
@import "blocks/videoblog";
@import "blocks/videoblog-projects";
@import "blocks/categories";
@import "blocks/hero-categories";




@import "blocks/footer";







@import "adaptive/xl";
@import "adaptive/lg";
@import "adaptive/md";
@import "adaptive/sm";
@import "adaptive/xs";
