<!-- <section>
    <div class="row">
        <div class="col-lg-3">
            <img src="../img/advantages1.svg" alt="">
            <h5>Экологически чистые и безопасные материалы</h5>
        </div>
        <div class="col-lg-3">
            <img src="../img/advantages1.svg" alt="">
            <h5>Экологически чистые и безопасные материалы</h5>
        </div>
        <div class="col-lg-3">
            <img src="../img/advantages1.svg" alt="">
            <h5>Экологически чистые и безопасные материалы</h5>
        </div>
        <div class="col-lg-3">
            <img src="../img/advantages1.svg" alt="">
            <h5>Экологически чистые и безопасные материалы</h5>
        </div>
    </div>
</section> -->