<section class="basket">
  <div class="container">
    <div class="basket__wrapper">
      <h1>КОРЗИНА</h1>

      <div class="row">
        <div class="col-lg-8">
          <div>
            <div class="basket-top-inner">
              <div class="basket-top-left">
                <span>Продукты</span>
              </div>

              <div class="basket-top-right">
                <span>Количество</span>
                <span>Сумма</span>
              </div>
            </div>
          </div>
          <div class="basket__inner">
            <div class="basket__left">
              <img src="../img/basket1.png" alt="" />

              <div>
                <h3>Davos Lounge Chair</h3>
                <p>1 215 000 сум</p>
                <a href="#">
                  <img src="../img/basket4.svg" alt="" />
                </a>
              </div>
            </div>
            <div class="basket__right">
              <div class="counter">
                <span>-</span>
                <h3>0</h3>
                <span>+</span>
              </div>

              <h4>2 430 000 сум</h4>
            </div>
          </div>
          <div class="basket__inner">
            <div class="basket__left">
              <img src="../img/basket1.png" alt="" />

              <div>
                <h3>Davos Lounge Chair</h3>
                <p>1 215 000 сум</p>
                <a href="#">
                  <img src="../img/basket4.svg" alt="" />
                </a>
              </div>
            </div>
            <div class="basket__right">
              <div class="counter">
                <span>-</span>
                <h3>0</h3>
                <span>+</span>
              </div>

              <h4>2 430 000 сум</h4>
            </div>
          </div>
          <div class="basket__inner">
            <div class="basket__left">
              <img src="../img/basket1.png" alt="" />

              <div>
                <h3>Davos Lounge Chair</h3>
                <p>1 215 000 сум</p>
                <a href="#">
                  <img src="../img/basket4.svg" alt="" />
                </a>
              </div>
            </div>
            <div class="basket__right">
              <div class="counter">
                <span>-</span>
                <h3>0</h3>
                <span>+</span>
              </div>

              <h4>2 430 000 сум</h4>
            </div>
          </div>
          
        </div>

        <div class="col-lg-4">
            <div class="basket-request">
                <h5>Общая сумма</h5>
                <h2>4 350 000 сум</h2>


                <p>После того как оставите заявку, наш <br>менеджер свяжется с вами и уточнить <br> все детали перед отправкой.</p>

                <a href="#">Оставить заявку</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
