<section class="address">
  <div class="container">
    <h2>АДРЕСА </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="address__wrapper">
          <ul>
            <li>
              <div>
                <img src="../img/address1.svg" alt="" />
              </div>

              <div>
                <p>Адрес</p>
                <h3>г. Ташкент, ул. Янги Олмазор, 36</h3>
                <a href="#">Построить маршрут</a>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address2.svg" alt="" />
              </div>

              <div>
                <p>Ориентир</p>
                <h3>Olmazor City</h3>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address3.svg" alt="" />
              </div>

              <div>
                <p>Телефон</p>
                <h3>+998 (93) 102-22-72</h3>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address4.svg" alt="" />
              </div>

              <div>
                <p>Режим работы</p>
                <h3>Ежедневно 09:00 - 19:00</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="address__wrapper">
          <ul>
            <li>
              <div>
                <img src="../img/address1.svg" alt="" />
              </div>

              <div>
                <p>Адрес</p>
                <h3>г. Ташкент, ул. Янги Олмазор, 36</h3>
                <a href="#">Построить маршрут</a>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address2.svg" alt="" />
              </div>

              <div>
                <p>Ориентир</p>
                <h3>Olmazor City</h3>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address3.svg" alt="" />
              </div>

              <div>
                <p>Телефон</p>
                <h3>+998 (93) 102-22-72</h3>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address4.svg" alt="" />
              </div>

              <div>
                <p>Режим работы</p>
                <h3>Ежедневно 09:00 - 19:00</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="address__wrapper">
          <ul>
            <li>
              <div>
                <img src="../img/address1.svg" alt="" />
              </div>

              <div>
                <p>Адрес</p>
                <h3>г. Ташкент, ул. Янги Олмазор, 36</h3>
                <a href="#">Построить маршрут</a>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address2.svg" alt="" />
              </div>

              <div>
                <p>Ориентир</p>
                <h3>Olmazor City</h3>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address3.svg" alt="" />
              </div>

              <div>
                <p>Телефон</p>
                <h3>+998 (93) 102-22-72</h3>
              </div>
            </li>
             <li>
              <div>
                <img src="../img/address4.svg" alt="" />
              </div>

              <div>
                <p>Режим работы</p>
                <h3>Ежедневно 09:00 - 19:00</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>

     
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d95915.87915676589!2d69.26172159999999!3d41.3007872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1763989655825!5m2!1sen!2s" width="100%" height="653" style="border:0; margin: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
