<section class="customer">
  <div class="container">
    <div class="customer__wrapper">
      <h1>покупателям</h1>
      <div class="row">
        <div class="col-lg-12">
          <div class="customer__inner">
            <h3>Как сделать заказ</h3>
            <p>
              Вы можете оформить заказ одним из нижеперечисленных способов:
              <br />
              1. Приходите в <a href="#">ближайший шоу-рум</a> и выберите
              понравившийся товар.
              <br />
              2. Позвоните по номеру горячей линии
              <a href="#">+998 (93) 102-22-72</a> и мы поможем в выборе. <br />
              3. Оставьте заявку в <a href="#">Telegram</a> /
              <a href="#">Instagram</a> / <a href="#">Facebook</a> в
              комментариях или в личных сообщениях и <br />
              наши менеджеры в кратчайшие сроки свяжутся с Вами.
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="customer__inner">
            <h3>Способы оплат</h3>
            <p>Любую покупку можно оплатить:</p>
            <ul>
              <li>- Наличными или пластиковой картой в кассе шоу-рума</li>
              <li>- Корпоративной картой</li>
              <li>- Перечислением согласно договору</li>
              <li>- Через платежную систему Payme / Click / Apelsin</li>
              <li>- Наличными курьеру</li>
            </ul>
            <p>Оплата принимается исключительно в национальной валюте РУз.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="customer__inner">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    Вопрос 1
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    Вопрос 2
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Вопрос 3
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour"
                  >
                    Вопрос 4
                  </button>
                </h2>
                <div
                  id="flush-collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFour"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="customer__inner">
            <h3>Обмен и возврат</h3>
            <p>
              Обмен Товара надлежащего качества: Товар надлежащего качества
              возврату не подлежит. <br />
              Возврату не подлежат (не принимаются обратно) товары надлежащего
              качества, согласно <br />
              Приложения 1 к Правилам розничной торговли Республики Узбекистан,
              утвержденное <br />
              Постановлением Кабинета Министров Республики Узбекистан № 75 от 13
              февраля 2003 года: <br />
              1. Товары для профилактики и лечения заболеваний в домашних
              условиях (предметы санитарии и <br />
              гигиены из металла, резины, текстиля и других материалов, изделия
              медицинского назначения и <br />медицинская техника, средства
              гигиены полости рта, линзы очковые, предметы по уходу за <br />
              детьми, лекарственные препараты). <br />
              2. Предметы личной гигиены (зубные щетки, расчески, заколки,
              бигуди для волос, парики, <br />
              шиньоны и другие аналогичные товары). <br />
              3. Парфюмерно-косметические товары. <br />
              4. Текстильные товары (хлопчатобумажные, льняные, шелковые,
              шерстяные и синтетические <br />
              ткани, товары из нетканых материалов типа тканей — ленты, тесьма,
              кружево и другие); кабельная <br />
              продукция (провода, шнуры, кабели); строительные и отделочные
              материалы (линолеум, пленка, <br />
              ковровые покрытия и другие) и другие товары, отпускаемые на
              метраж. <br />
              5. Швейные и трикотажные изделия (изделия швейные и трикотажные
              бельевые, чулочно- <br />носочные и перчаточные изделия). <br />
              6. Изделия и материалы, контактирующие с пищевыми продуктами, из
              полимерных материалов, в <br />
              том числе для разового использования (посуда и принадлежности
              столовые и кухонные, емкости <br />
              и упаковочные материалы для хранения и транспортировки пищевых
              продуктов). <br />
              7. Товары бытовой химии, пестициды и агрохимикаты. <br />
              8. Мебель (мебельные гарнитуры и комплекты). <br />
              9. Изделия из драгоценных металлов, с драгоценными камнями, из
              драгоценных металлов со <br />
              вставками из полудрагоценных и синтетических камней, ограненные
              драгоценные камни. <br />
              10. Автомобили и мотовелотовары, прицепы и номерные агрегаты к
              ним; мобильные средства <br />
              малой механизации сельскохозяйственных работ; прогулочные суда и
              иные плавсредства <br />
              бытового назначения. <br />
              11. Технически сложные товары бытового назначения, на которые
              установлены гарантийные сроки <br />
              (станки металлорежущие и деревообрабатывающие бытовые;
              электробытовые машины и <br />
              бытовые электроприборы; бытовая радиоэлектронная аппаратура;
              бытовая вычислительная и <br />
              множительная техника; фото- и киноаппаратура; телефонные аппараты
              и факсимильная <br />
              аппаратура; электромузыкальные инструменты; игрушки электронные).
              <br />
              12. Животные и растения.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
