<section class="products">
  <div class="container">
    <div class="popular-text">
      <h2>Успейте купить</h2>
      <img src="../img/discount-icon.svg" alt="">
    </div>

    <div class="row">
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/popular1.png" alt="" />
          <h4>Davos Lounge Chair</h4>
          <s>1 215 000 сум</s>
          <p>950 000 сум</p>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/popular2.png" alt="" />
          <h4>Halden Lounge Chair</h4>
          <s>1 350 000 сум</s>
          <p>1 000 000 сум</p>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/discount3.png" alt="" />
          <h4>Aubrey Lounge Chair</h4>
          <s>980 000 сум</s>
          <p>860 000 сум</p>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/discount4.png" alt="" />
          <h4>Winston Dining Table</h4>
          <s>2 400 000 сум</s>
          <p>2 200 000 сум</p>
        </a>
      </div>
    </div>
  </div>
</section>
