<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <img src="../img/logo.svg" alt="" />
          <p>Мебель в стиле лофт</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <h4>Страницы</h4>
          <ul>
            <li><a href="#">Домашняя</a></li>
            <li><a href="customer.html">Покупателям</a></li>
            <li><a href="partners-page.html">Партнерам</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="contact.html">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <h4>Каталог</h4>
          <ul>
            <li><a href="#">Столы и парты</a></li>
            <li><a href="#">Стеллажи</a></li>
            <li><a href="#">Мягкая мебель</a></li>
            <li><a href="#">Журнальные столы</a></li>
            <li><a href="#">Офисное кресло</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <h4>соц. сети</h4>
          <div class="footer__img">
            <a href="#"><img src="../img/footer-logo1.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo3.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo4.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo5.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo6.svg" alt="" /></a>
          </div>

          <img src="../img/footer-logo2.svg" alt="" />
        </div>
      </div>
    </div>
    <div
      class="footer__copyright d-flex justify-content-between align-items-center mt-5"
    >
      <div>
        <p>© 2023 Loftbek. Все права защищены.</p>
      </div>

      <div>
        <span
          >Дизайн и <br />
          разработка</span
        >
        <a href="#">
          <img src="../img/space-logo.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
