<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <img src="../img/logo.svg" alt="" />
          <p>Мебель в стиле лофт</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <h4>Страницы</h4>
          <ul>
            <li>Домашняя</li>
            <li>Покупателям</li>
            <li>Партнерам</li>
            <li>Блог</li>
            <li>Контакты</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <h4>Каталог</h4>
          <ul>
            <li>Столы и парты</li>
            <li>Стеллажи</li>
            <li>Мягкая мебель</li>
            <li>Журнальные столы</li>
            <li>Офисное кресло</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <h4>соц. сети</h4>
          <div class="footer__img">
            <a href="#"><img src="../img/footer-logo1.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo3.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo4.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo5.svg" alt="" /></a>
            <a href="#"><img src="../img/footer-logo6.svg" alt="" /></a>
          </div>

          <img src="../img/footer-logo2.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="footer__copyright d-flex justify-content-between align-items-center mt-5">
      <div>
        <p>© 2023 Loftbek. Все права защищены.</p>
      </div>

      <div>
        <span>Дизайн и <br> разработка</span>
        <a href="#">
          <img src="../img/space-logo.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
