<section class="hero-categories">
  <div class="container">
    <div class="categories__wrapper">
      <h2>Столы и стулья</h2>

      <!-- <div class="hero__input">
            <form>
                <input type="">
            </form>
        </div> -->

      <div class="row">
        <div class="col-lg-4">
          <div class="categories__inner">
            <a href="#">
              <img src="../img/categories1.png" alt="" />
            </a>
            <h3>Davos Lounge Chair</h3>
            <span>1 215 000 сум</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories__inner">
            <a href="#">
              <img src="../img/categories2.png" alt="" />
            </a>
            <h3>Davos Lounge Chair</h3>
            <span>1 215 000 сум</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories__inner">
            <a href="#">
              <img src="../img/categories3.png" alt="" />
            </a>
            <h3>Davos Lounge Chair</h3>
            <span>1 215 000 сум</span>
          </div>
        </div>
         <div class="col-lg-4">
          <div class="categories__inner">
            <a href="#">
              <img src="../img/categories4.png" alt="" />
            </a>
            <h3>Davos Lounge Chair</h3>
            <span>1 215 000 сум</span>
          </div>
          
      </div>
       <div class="col-lg-4">
          <div class="categories__inner">
            <a href="#">
              <img src="../img/categories5.png" alt="" />
            </a>
            <h3>Davos Lounge Chair</h3>
            <span>1 215 000 сум</span>
          </div>
    </div>
     <div class="col-lg-4">
          <div class="categories__inner">
            <a href="#">
              <img src="../img/categories6.png" alt="" />
            </a>
            <h3>Davos Lounge Chair</h3>
            <span>1 215 000 сум</span>
          </div>
  </div>
</section>
