<section class="dmc-motors">
  <div class="container">
    <a class="end__btn" href="index.html"
      ><svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.25 12H3.75"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10.5 5.25L3.75 12L10.5 18.75"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      Назад
    </a>
    <div class="motors__txt">
      <h1>DMC motors</h1>
      <span>30.11.2025</span>
    </div>
    <div class="motors__wrapper">
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="motors__inner">
            <img src="../img/dmc-motors1.png" alt="" />
          </div>
        </div>
        <div class="motors-txt">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et <br />
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip <br />
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore <br />
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia <br />
            deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="col-lg-12">
          <div class="motors__inner">
            <img src="../img/motors2.png" alt="" />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="motors__inner">
            <img src="../img/motors3.png" alt="" />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="motors__inner">
            <img src="../img/motors4.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
