<section class="partners">
  <div class="container">
    <div class="partners__wrapper">
      <h2>Нам доверяют</h2>
      <div class="row gy-3">
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partners__inner">
            <img src="../img/partners2.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="partners-page-img">
        <img src="img/partners-page.png" alt="">
        <div class="partners__txt">
          <h2>Хотите стать нашим партнером?</h2>
          <p>
            Обмен Товара надлежащего качества: Товар надлежащего качества
            возврату не подлежит. Возврату не подлежат (не принимаются обратно)
            товары надлежащего качества, согласно Приложения 1 к Правилам
            розничной торговли Республики Узбекистан, утвержденное
          </p>

          <a href="#">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>
