<section class="partners">
    <div class="container">
        <div class="partners__wrapper">
            <h2>Нам доверяют</h2>
            <div class="row gy-3">
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="partners__inner">
                        <img src="../img/partners2.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__btn">

                <a href="partners-page.html">Смотреть все</a>
            </div>
        </div>
    </div>
</section>