<section class="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/popular1.png" alt="" />
          <h4>Davos Lounge Chair</h4>
          <span>1 215 000 сум</span>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/popular1.png" alt="" />
          <h4>Davos Lounge Chair</h4>
          <span>1 215 000 сум</span>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/popular1.png" alt="" />
          <h4>Davos Lounge Chair</h4>
          <span>1 215 000 сум</span>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#">
          <img src="../img/popular1.png" alt="" />
          <h4>Davos Lounge Chair</h4>
          <span>1 215 000 сум</span>
        </a>
      </div>
    </div>
  </div>
</section>
