<section class="videoblog">
  <div class="container">
    <h2>проекты</h2>
    <div class="videoblog__wrapper">
      <div class="row gy-5">
        <div class="col-lg-6">
          <a href="projects-list.html">
            <img src="../img/project-list.png" alt="" />
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="projects-list.html">
            <img src="../img/project-list.png" alt="" />
            <h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </h3>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="projects-list.html">
            <img src="../img/project-list.png" alt="" />
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="projects-list.html">
            <img src="../img/project-list.png" alt="" />
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="projects-list.html">
            <img src="../img/project-list.png" alt="" />
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="projects-list.html">
            <img src="../img/project-list.png" alt="" />
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
