<section class="products">
  <div class="container">
    <div class="popular-text">
      <h2>Мы рекомендуем</h2>
      <img src="../img/recommend-icon.svg" alt="" />
    </div>

    <div class="swiper recommendSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="categories.html">
            <img src="../img/recommend1.png" alt="" />
            <h4>Angelo Counter Stool</h4>
            <span>1 350 000 сум</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="categories.html">
            <img src="../img/recommend1.png" alt="" />
            <h4>Angelo Counter Stool</h4>
            <span>1 350 000 сум</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="categories.html">
            <img src="../img/recommend1.png" alt="" />
            <h4>Angelo Counter Stool</h4>
            <span>1 350 000 сум</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="categories.html">
            <img src="../img/recommend1.png" alt="" />
            <h4>Angelo Counter Stool</h4>
            <span>1 350 000 сум</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="categories.html">
            <img src="../img/recommend1.png" alt="" />
            <h4>Angelo Counter Stool</h4>
            <span>1 350 000 сум</span>
          </a>
        </div>
      </div>
     
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
