<section class="reviews">
  <div class="container">
    <h2>Отзывы</h2>
    <div class="row">
      <div class="col-lg-3">
        <div class="reviews__inner">
          <div class="reviews__card-image">
            <img src="../img/review1.png" alt="" />
            <div>
              <h3>Nolan Kenter</h3>
              <span>Goodzone</span>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, totam?
            At, veritatis deserunt earum dolorem aliquam possimus harum
            quibusdam error velit natus autem vitae, suscipit iste eius maiores
            sed similique?
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="reviews__inner">
          <div class="reviews__card-image">
            <img src="../img/review2.png" alt="" />
            <div>
              <h3>Davis Gouse</h3>
              <span>Goodzone</span>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, totam?
            At, veritatis deserunt earum dolorem aliquam possimus harum
            quibusdam error velit natus autem vitae, suscipit iste eius maiores
            sed similique?
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="reviews__inner">
          <div class="reviews__card-image">
            <img src="../img/review3.png" alt="" />
            <div>
              <h3>Omar Levin</h3>
              <span>Goodzone</span>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, totam?
            At, veritatis deserunt earum dolorem aliquam possimus harum
            quibusdam error velit natus autem vitae, suscipit iste eius maiores
            sed similique?
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="reviews__inner">
          <div class="reviews__card-image">
            <img src="../img/review4.png" alt="" />
            <div>
              <h3>Abram Vetrovs</h3>
              <span>Goodzone</span>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, totam?
            At, veritatis deserunt earum dolorem aliquam possimus harum
            quibusdam error velit natus autem vitae, suscipit iste eius maiores
            sed similique?
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>
