<section class="videoblog">
    <div class="container">
        <h2>проекты</h2>
        <div class="videoblog__wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <a href="motors.html">
                        <img src="../img/dmc-motors.png" alt="">
                        <h3>DMC motors</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="projects-list.html">
                        <img src="../img/videoblog-project2.png" alt="">
                        <h3>Перегородка из натурального массива сосны для вашего интерьера</h3>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center videoblog__btn">
                <a href="#">Смотреть все</a>
            </div>
        </div>
    </div>
</section>