<section class="videoblog">
  <div class="container">
    <h2>Видеообзоры</h2>
    <div class="videoblog__wrapper">
      <div class="row">
        <div class="col-lg-6">
          <div class="video-blog_inner">
            <a href="videoblog-list.html">
              <img src="../img/videoblog1.png" alt="" />
              <h3>Экомебель в скандинавском стиле</h3>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video-blog_inner">
            <a href="videoblog-list.html">
              <img src="../img/videoblog2.png" alt="" />
              <h3>Освещение в стиле лофт</h3>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video-blog_inner">
            <a href="videoblog-list.html">
              <img src="../img/videoblog3.png" alt="" />
              <h3>Оформление большого офиса в стиле лофт</h3>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video-blog_inner">
            <a href="videoblog-list.html">
              <img src="../img/videoblog4.png" alt="" />
              <h3>
                Перегородка из натурального массива сосны для вашего интерьера
              </h3>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video-blog_inner">
            <a href="videoblog-list.html">
              <img src="../img/videoblog5.png" alt="" />
              <h3>комебель в скандинавском стиле</h3>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video-blog_inner">
            <a href="videoblog-list.html">
              <img src="../img/videoblog6.png" alt="" />
              <h3>Освещение в стиле лофт</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
