*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Hoves';
  font-weight: 400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

input, textarea, button, select {
  font-family: inherit;
  border: 0;
  background: none;
  outline: none;
  resize: none;
}